<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Update Student Form</title>
</head>
<body>
<h1>Update Student Form</h1>
<form th:action="@{/updateStudent}" method = "POST" th:object = "${student}">
 <input  type = "text" th:field = "*{id}"hidden><br>
 <span>Student Name:</span>
 <input type = "text" th:field = "*{name}"><br>
  <span>Student Address:</span>
 <input type = "text" th:field = "*{address}" ><br>
 <button type = "submit"> Add Student</button>
 </form>
</body>
</html>